body{
    background-color: #96D491
    ;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5rem;
}
img{
    max-width: 40%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background: #04444E
    ;
    padding: 20px;
}
header img{
    margin:0  auto;
    display: block;
    width: 300px;
}
#main{
    text-align: center;
    list-style: none;
    color: aqua;
    font-size: 20px;
}
#main li{
display: inline-block;
margin: 0 10px;
}
#main a{
    background: #96D491;
    padding: 5px 15px;
    text-decoration: none;

}
section{
    display: flex;
}
div{
    padding: 20px;
    width: 60%;
}

aside{
    padding: 40px;
    
    width: 40%;
}
footer{
    background-color: blueviolet;
    text-align: center;
    padding: 50px;
}
footer p{
    color: aliceblue;
}

